* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.navbar {
  background-color: #e39ff6;
  margin-bottom: 30px;
}
.register-img {
  margin-top: 7.5rem;
}
.register-text-color {
  color: #71777d;
}
/* About Us */
.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}
* {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.navbar {
  background-color: #e39ff6;
  margin-bottom: 30px;
}
