<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>

</head>

<body>
    <nav>


    </nav>
    <div id="main-section">
        <nav id="sidebar">


        </nav>
        <div class="rightside-pannel">
            <div id="display-message-section">

            </div>

            <div id="input-area">
                <input type="text" name="" id="user-message" placeholder="Type Here..." autocomplete="off">
                <button type="button" id="send-message">Send</button>

            </div>

        </div>

    </div>

    <script type="text/javascript">
        const username = `{{username}}`;
    </script>

    <script src="{{ url_for('static', filename='js/socketio.js') }}"></script>
    <!-- Using cdn-script of socketIO -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
        integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
        crossorigin="anonymous"></script>
</body>

</html>