{% extends 'base.html' %}

{% block title %}
    Contact Us
{% endblock title %}

{% block body %}
{% if messageSent == 1 %}

<div class="mt-5 alert alert-success text-center">
    Message has been sent successfully! 🙌
</div>

{% endif %}
<section class="h-100 bg-white">
    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="register-img col-md-6 mx-auto d-xl-block">
                            <img src="{{ url_for('static' ,filename='images/contact-us.png')}}" alt="Registration"
                                class="img-fluid mb-5"
                                style="border-top-left-radius: .25rem;
                   border-bottom-left-radius: .25rem; border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black">
                                <h3 class="mb-5 text-uppercase text-center ">Contact Us☎️ </h3>
                                <h6 class="text-muted text-center mb-5">Get in touch!<br>
                                    We'd' love to hear from you!</h6>

                                <!-- Form Starts -->
                                <form action="/register" method="post">
                                    <div class="form-outline register-text-color">
                                        <label for="email">Your Email Address</label>
                                        <input type="email" name="email" class="form-control" id="email"
                                            placeholder="Enter your email" required />

                                    </div>
                                    <div class="form-outline register-text-color mt-4">
                                        <label for="name">Your Name</label>
                                        <input type="name" name="name" class="form-control" id="name"
                                            placeholder="Enter your name">
                                    </div>

                                    <div class="form-outline mb-4 register-text-color mt-4">
                                        <label for="message">Your Message</label>
                                        <textarea name="message" class="form-control" id="message" rows="5"></textarea>
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <button type="reset" class="btn btn-danger btn-sm">Clear</button>
                                        <button type="submit" class="btn btn-success btn-sm ms-2">Send
                                            Message</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock body %}