<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static' ,filename='style/style.css')}}" </head>

<body>
    <!--NavBar-->
    <nav class="navbar md-0">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static' ,filename='images/Accoustix-logo-mini.png')}}" alt="Home Page"
                style="width:6rem;" class="rounded-pill mx-5">
        </a>
        <ul class="nav justify-content-start mx-5">
            <li class="nav-item mt-2">
                <a class="nav-link " href="#">
                    <p class="btn btn-dark btn-sm" style="color: #e39ff6">Home</p>
                </a>
            </li>
            <li class="nav-item mt-2 ">
                <a class="nav-link" href="#">
                    <p class="btn btn-dark btn-sm" style="color:#e39ff6">About Us</p>
                </a>
            </li>
            <li class="nav-item mt-2">
                <a class="nav-link" href="#">
                    <p class="btn btn-dark btn-sm" style="color:#e39ff6">Contact Us</p>
                </a>
            </li>
        </ul>
    </nav>
    <!--body-->
    <section class="h-100 bg-white">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col">
                    <div class="card card-registration my-4">
                        <div class="row g-0">
                            <div class="register-img col-md-6 mx-auto d-xl-block">
                                <img src="{{ url_for('static' ,filename='images/registration-logo.svg')}}"
                                    alt="Registration" class="img-fluid"
                                    style="border-top-left-radius: .25rem;
                   border-bottom-left-radius: .25rem; border-top-right-radius: .25rem; border-bottom-right-radius: .25rem;" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="mb-5 text-uppercase text-center ">Signup 🤝 </h3>
                                    <h6 class=" text-muted mb-5"> Create your account.It is free and takes a minute
                                        only!</h6>

                                    <!-- Form Starts -->
                                    <form action="/register" method="post">
                                        <div class="row">
                                            <div class="col-sm-6 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" id="first-name" name="first-name"
                                                        placeholder="First-Name" class="form-control form-control-md"
                                                        required />

                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-4">
                                                <div class="form-outline">
                                                    <input type="text" id="last-name" name="last-name"
                                                        placeholder="Last-Name" class="form-control form-control-md"
                                                        required />

                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-outline mb-4">
                                            <input type="email" id="email" name="email" placeholder="Email-Address"
                                                class="form-control form-control-md" required />

                                        </div>

                                        <div
                                            class="d-md-flex justify-content-start align-items-center mb-4 py-2 register-text-color">

                                            <h6 class="mb-0 me-4">Gender: </h6>

                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input class="form-check-input" type="radio" id="femaleGender"
                                                    name="gender" value="female" />
                                                <label class="form-check-label" for="femaleGender">Female</label>
                                            </div>

                                            <div class="form-check form-check-inline mb-0 me-4">
                                                <input class="form-check-input" type="radio" id="maleGender"
                                                    name="gender" value="male" />
                                                <label class="form-check-label" for="maleGender">Male</label>
                                            </div>

                                            <div class="form-check form-check-inline mb-0">
                                                <input class="form-check-input" type="radio" id="otherGender"
                                                    name="gender" value="other" />
                                                <label class="form-check-label" for="otherGender">Other</label>
                                            </div>

                                        </div>


                                        <div class="form-outline datepicker md-6 mb-4 register-text-color">
                                            <label class="form-outline" for="form3Example90">DOB</label>
                                            <input type="date" placeholder="DOB"
                                                class="form-control register-text-color" id="user-dob" name="user-dob"
                                                required />

                                        </div>



                                        <div class="form-outline mb-4">
                                            <input type="text" id="username" name="username" placeholder="Username"
                                                class="form-control form-control-md" required />

                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="password" name="password" placeholder="Password"
                                                class="form-control form-control-md" onkeyup="check();" required />
                                        </div>

                                        <div class="form-outline mb-4">
                                            <input type="password" id="confirm-password" name="confirm-password"
                                                placeholder="Confirm Password" class="form-control form-control-md"
                                                onkeyup="check();" required />
                                            <span id="message"></span>

                                        </div>

                                        <div class="d-flex justify-content-end pt-3">
                                            <button type="reset" class="btn btn-danger btn-sm">Clear</button>
                                            <button type="submit" class="btn btn-success btn-sm ms-2">Create
                                                account</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1"
                    href="https://github.com/imsushant12/Instant_Messaging" target="_blank" role="button"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-github" viewBox="0 0 16 16">
                        <path
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                    </svg>
                </a>
            </section>
            <!-- Section: Social media -->

            <section class="mb-2">
                <p>
                    Thankyou for using our product. We truly value our customers and respect your privacy.<br>
                    Safe chat and calls.<br>
                    <strong><span style="color:#e39ff6">STAY IN TOUCH 🙌</span></strong>
                </p>
            </section>
            <!-- Copyright -->
            <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2021 Copyright :
                <a class="text-reset fw-bold" style="text-decoration: none;">ACCOUSTIX</a>
            </div>
            <!-- Copyright -->
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static' ,filename='js/script.js')}}"></script>

</body>

</html>